.tool{
  text-size-adjust: 10px;
  
  margin: 2% 20% 20% 40%;
  ;
}
.tooltiptext{
  left: 58%;
  top: 25px;
  position: absolute;
  border-width: 2px;
  border-radius: 10px;
  z-index: 1;
  background-color: chartreuse;
  visibility: hidden;
  padding: 5px 0;
}
.text{
  
  margin-top: -10%;
  text-align: center;
}
.email{
  margin: 0% 100% -10% 0%;
 margin-top: -10%;
 
}
.tool:hover .tooltiptext{
visibility: visible;
}