.tool{  
  text-align: center;
  margin: 0px 40% 0px 40%;
  
}
.tooltiptext{
  visibility: hidden;
  background-color: rgb(114, 196, 32);
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 60%;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;

  
}
.text{
  margin-top: auto;
  text-align: center;
}
.email{
  margin-top: -20px;
}
.tool:hover .tooltiptext{
  visibility: visible;
 }